<footer class="bg-[#00151a] text-white pt-16 pb-8 relative">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row  md:justify-between gap-12">

    <!-- Logo e descrição -->
    <div class="md:w-1/3 flex flex-col ">
      <img src="/assets/logo.png" alt="AR Mooring Solutions" class="w-36 h-auto mb-4">
      <p class="text-gray-300 text-sm leading-relaxed">
        A A.R Mooring Solutions é uma empresa voltada à prestação de serviços e aluguel de equipamentos para ancoragem marítima. Também atua na comercialização de mão de obra marítima qualificada, aluguel e venda de equipamentos, sinalização náutica e equipamentos de auxílio às operações de ancoragem offshore.
      </p>
    </div>

    <!-- Links rápidos e Contato juntos -->
    <div class=" flex flex-col sm:flex-row gap-12">
      <!-- Links rápidos -->
      <div class="self-start">
        <h3 class="text-lg font-bold mb-3">Links Rápidos</h3>
        <ul class="space-y-2 text-gray-300">
          <li><a href="/quem-somos" class="hover:text-blue-500 transition">Quem Somos</a></li>
          <li><a href="/servicos" class="hover:text-blue-500 transition">Serviços</a></li>
          <li><a href="/contato" class="hover:text-blue-500 transition">Contato</a></li>
          <li><a href="/sobre" class="hover:text-blue-500 transition">Sobre</a></li>
        </ul>
      </div>

      <!-- Contato -->
      <div class="self-start">
        <h3 class="text-lg font-bold mb-3">Contato</h3>
        <ul class="space-y-2 text-gray-300">
          <li><span class="font-semibold">Localização:</span> Macaé, RJ</li>
          <li><span class="font-semibold">Email:</span> <a href="mailto:comercial@armooringsolutions.com.br" class="hover:text-blue-500 transition">comercial@armooringsolutions.com.br</a></li>
          <li><span class="font-semibold">Horário:</span> 9 AM - 5 PM, Seg à Sex</li>
          <li><span class="font-semibold">Telefone:</span> <a href="tel:+552230516269" class="hover:text-blue-500 transition">(22) 3051-6269</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Linha de copyright -->
  <div class="mt-12 border-t border-gray-700 pt-4 text-center text-gray-400 text-sm">
    &copy; 2025 AR Mooring Solutions. Todos os direitos reservados.
  </div>
</footer>
